<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>modcasts</title>
	<link rel="stylesheet" type="text/css" href="public/style.css" />
</head>
<body>

<header>
	<h1 class="site-title"><a href="#"><span class="mod">mod</span>casts</a></h1>
	<span class="site-slogan">phpbb modding screencasts</span>
</header>

<aside>
	<a href="http://github.com/evil3/modcasts"><img style="position: fixed; top: 0; right: 0; border: 0;" src="public/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
</aside>

<article class="clearfix">
	{% block content %}
	{% endblock %}
</article>

<footer class="clearfix">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />
	2010 Igor Wiedler
</footer>

</body>
</html>

