<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>modcasts</title>
	<link rel="stylesheet" type="text/css" href="{{ basePath }}public/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ basePath }}public/backend.css" />
</head>
<body>

<header>
	<h1 class="site-title"><a href="{{ basePath }}"><span class="mod">mod</span>casts</a></h1>
	<span class="site-slogan">backend</span>
</header>

<article class="clearfix">
	{% block content %}
	{% endblock %}
</article>

</body>
</html>

