{% extends "backend/layout.html" %}

{% block content %}
<section>
<h2>episodes</h2>
<p>
	<a href="{{ basePath }}backend/newEpisode">New episode</a>
</p>
<p>
<ul>
{% for episode in episodes %}
	<li><a href="{{ basePath }}backend/editEpisode/{{ episode.id }}">#{{ episode.id }}: {{ episode.title|e }}</a> [<a href="{{ basePath }}backend/deleteEpisode/{{ episode.id }}?csrfCreated={{ csrfTokenFactory.token('backend/deleteEpisode/' ~ episode.id).created }}&amp;csrfHash={{ csrfTokenFactory.token('backend/deleteEpisode/' ~ episode.id).hash|e }}">Delete</a>]</li>
{% endfor %}
</ul>
</p>
</section>
{% endblock %}
